#page-content {
    margin-top: 2em;
}

h1 {
    margin-bottom: 0.2em !important;
    font-size: 32px;
    font-family: Content-font, Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5
}

.logo {
	margin: 0 5px;
    max-height: 100px !important;
    border: none !important;
    box-shadow: none !important;
    --tw-shadow: 0 !important;
    border-width: 0 !important;
}

.subtitle {
    color: #74818D;
    font-weight: 400;
}

#header-nav {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin: 0
}

#header-nav>.navItem>a {
    color: #6f6f6f;
    font-weight: 600;
    padding: .3em .5em;
    margin-left: .5em;
    font-size: .9em
}

.dark #header-nav>.navItem.active>a,
.dark #header-nav>.navItem>a:hover {
    color: #fff;
}

#navigation > div > ul > li .active,
#header-nav>.navItem.active>a,
#header-nav>.navItem>a:hover {
    color: #5e8ef5;
}

#header-nav li .header-dropdown {
    padding-right: 1em
}

#header-nav li .header-dropdown li {
    display: block;
    margin-left: 0;
    padding: 0
}

#header-nav .dropdown-trigger .header-dropdown {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.0975);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.0975);
    border: solid 1px #e6e6e6;
    min-width: 210px;
    display: none;
    position: absolute;
    background: #fff;
    border-radius: 10px;
    margin-left: -100px;
    top: 35px;
    padding: 1em;
    margin: 0;
    z-index: 9999;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.dark #header-nav .dropdown-trigger .header-dropdown {
    border: solid 1px rgba(55, 65, 81, var(--tw-border-opacity));
    background: rgba(31, 41, 55, var(--tw-bg-opacity));
}

#header-nav .dropdown-trigger .header-dropdown a {
    border-radius: 6px;
    font-size: 14px;
    padding: 1em;
    display: block;
    cursor: pointer
}

#header-nav .dropdown-trigger .header-dropdown a:hover {
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.7) !important
}

.dark #header-nav .dropdown-trigger .header-dropdown a:hover {
    color: #fff !important;
}

#header-nav .dropdown-trigger:hover>.header-dropdown {
    display: block;
    -webkit-animation: dropmenufade-hover .25s 1;
    animation: dropmenufade-hover .25s 1
}

#header-nav .header-dropdown:after {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    top: -14px
}

@media (max-width: 860px) {
    #header-nav .header-dropdown:after {
        display: none
    }
}

#header-nav .header-dropdown:after {
    border-bottom-color: #eaeaea;
    border-width: 7px;
    margin-left: -7px
}

.dark #header-nav .header-dropdown:after {
    border-bottom-color: rgba(31, 41, 55, var(--tw-bg-opacity)) !important
}

@-webkit-keyframes dropmenufade-hover {
    from {
        -webkit-transform: translateY(10%) scale(0.9);
        transform: translateY(10%) scale(0.9)
    }
    to {
        -webkit-transform: translateY(0%) scale(1);
        transform: translateY(0%) scale(1)
    }
}

@keyframes dropmenufade-hover {
    from {
        -webkit-transform: translateY(10%) scale(0.9);
        transform: translateY(10%) scale(0.9)
    }
    to {
        -webkit-transform: translateY(0%) scale(1);
        transform: translateY(0%) scale(1)
    }
}

@-webkit-keyframes dropmenufade-out {
    from {
        -webkit-transition: opacity 1.5s ease;
        transition: opacity 1.5s ease
    }
    to {
        opacity: 0;
        -webkit-transition: all 1s ease;
        transition: all 1s ease
    }
}

@keyframes dropmenufade-out {
    from {
        -webkit-transition: opacity 1.5s ease;
        transition: opacity 1.5s ease
    }
    to {
        opacity: 0;
        -webkit-transition: all 1s ease;
        transition: all 1s ease
    }
}

#page-content > div > div > div > article > div > h4 {
	position: relative;
	font-size: 1.125rem;
	color: #273849;
	line-height: 100%;
}

.dark #page-content > div > div > div > article > div > h4 {
    color: #6695c4;
}

#page-content > div > div > div > article > div > h4::before {
	content: "#";
	color: #5e8ef5;
	position: absolute;
	left: -1em;
	font-size: 1.125rem;
}

.dark #page-content > div > div > div > article > div > h4 + ul * {
	color: rgba(156,163,175); /* text-gray-400 */
}

#page-content > div > div > div > article > div > h4 + ul * {
	font-size: 1rem;
	color: #273849;
}

#page-content > div > div > div > article > div > ul li code,
#page-content > div > div > div > article > div p code {
	color: #ff3814;
	padding: 3px 5px;
	margin: 0 2px;
	border-radius: 2px;
	white-space: nowrap;
	font-size: 0.85em;
	background-color: #f8f8f8;
	font-weight: normal;
}

.prose code::before {
	content: "";
}

.prose code::after {
	content: "";
}
