<ul id="header-nav">
    <li class="navItem {% if '/'+ locale + '/introduction/what-is-devprotocol/' == page.url %}active{% endif %}">
        <a href="/{{ locale }}/introduction/">{{ 'protocol' | i18n }}</a>
    </li>
    <li class="navItem {% if '/'+ locale + '/stakes-social/' == page.url %}active{% endif %}">
        <a href="/{{ locale }}/stakes-social/">{{ 'stakes_social' | i18n }}</a>
    </li>
    <li class="navItem {% if '/'+ locale + '/developers/' == page.url %}active{% endif %}">
        <a href="/{{ locale }}/developers/">{{ 'developers' | i18n }}</a>
    </li>
    <li class="navItem dropdown-trigger">
        <a href="#">{{ 'community' | i18n }}</a>
        <ul class="header-dropdown">
            <li>
                <a href="https://medium.com/devprtcl" target="_blank">Medium Page</a>
            </li>
            <li>
                <a href="https://initto.devprotocol.xyz/" target="_blank">Blog</a>
            </li>
            <li>
                <a href="https://github.com/dev-protocol" target="_blank">Github</a>
            </li>
            <li>
                <a href="https://twitter.com/devprtcl" target="_blank">Twitter</a>
            </li>
            <li>
                <a href="https://discord.gg/VwJp4KM" target="_blank">Discord</a>
            </li>
            <li>
                <a href="https://community.devprotocol.xyz/" target="_blank">Community</a>
            </li>
        </ul>
    </li>
</ul>
