<ul id="header-nav">
    <li class="navItem {% if '/introduction/' == page.url %}active{% endif %}">
        <a href="/introduction/">The Protocol</a>
    </li>
    <li class="navItem {% if '/stakes-social/' == page.url %}active{% endif %}">
        <a href="/stakes-social/">Stakes Social</a>
    </li>
    <li class="navItem {% if '/developers/' == page.url %}active{% endif %}">
        <a href="/developers/">Developers</a>
    </li>
    <li class="navItem dropdown-trigger">
        <a href="#">Community</a>
        <ul class="header-dropdown">
            <li>
                <a href="https://medium.com/devprtcl" target="_blank">Medium Page</a>
            </li>
            <li>
                <a href="https://initto.devprotocol.xyz/" target="_blank">Blog</a>
            </li>
            <li>
                <a href="https://github.com/dev-protocol" target="_blank">Github</a>
            </li>
            <li>
                <a href="https://twitter.com/devprtcl" target="_blank">Twitter</a>
            </li>
            <li>
                <a href="https://discord.gg/vUBmjuk" target="_blank">Discord</a>
            </li>
            <li>
                <a href="https://t.me/devprtcl" target="_blank">Telegram</a>
            </li>
            <li>
                <a href="https://t.me/DevMemeTreasury" target="_blank">Dev Memes (Telegram)</a>
            </li>
        </ul>
    </li>
</ul>
