:root {
	--hs-theme-padding-xs: 0.3rem;
	--hs-theme-padding-sm: 0.5rem;
	--hs-theme-padding-md: 0.7rem;
	--hs-theme-padding-lg: 1rem;
	--hs-theme-padding-xl: 1.2rem;
	--hs-theme-stroke: 3px;
	--hs-theme-stroke-set-accent-dark: white;
	--hs-theme-primary-200: #ffffff;
	--hs-theme-primary-300: #f1f1f1;
	--hs-theme-primary-400: #d7d7d7;
	--hs-theme-primary-600: #c4c4c4;
	--hs-theme-primary-ink: #000000;
	--hs-theme-primary-dark-200: #3a4158;
	--hs-theme-primary-dark-300: #222b3d;
	--hs-theme-primary-dark-400: #111827;
	--hs-theme-primary-dark-600: #040b10;
	--hs-theme-primary-dark-ink: #ffffff;
	--hs-theme-accent-200: #3a4158;
	--hs-theme-accent-300: #222b3d;
	--hs-theme-accent-400: #111827;
	--hs-theme-accent-600: #040b10;
	--hs-theme-accent-ink: #ffffff;
	--hs-theme-accent-dark-200: #ffffff;
	--hs-theme-accent-dark-300: #f1f1f1;
	--hs-theme-accent-dark-400: #d7d7d7;
	--hs-theme-accent-dark-600: #c4c4c4;
	--hs-theme-accent-dark-ink: #000000;
	--hs-theme-surface-200: #ffffff;
	--hs-theme-surface-300: #f1f1f1;
	--hs-theme-surface-400: #d7d7d7;
	--hs-theme-surface-600: #c4c4c4;
	--hs-theme-surface-ink: #000000;
	--hs-theme-surface-dark-200: #3a4158;
	--hs-theme-surface-dark-300: #222b3d;
	--hs-theme-surface-dark-400: #111827;
	--hs-theme-surface-dark-600: #040b10;
	--hs-theme-surface-dark-ink: #ffffff;
	--hs-theme-error-200: #e45d5d;
	--hs-theme-error-300: #df3737;
	--hs-theme-error-400: #c92020;
	--hs-theme-error-600: #920d0d;
	--hs-theme-error-ink: #ffffff;
	--hs-theme-error-dark-200: #e45d5d;
	--hs-theme-error-dark-300: #df3737;
	--hs-theme-error-dark-400: #c92020;
	--hs-theme-error-dark-600: #920d0d;
	--hs-theme-error-dark-ink: #ffffff;
	--hs-theme-disabled: rgba(0, 0, 0, 0.12);
	--hs-theme-disabled-ink: rgba(0, 0, 0, 0.37);
	--hs-theme-background: #ffffff;
	--hs-theme-background-ink: #000000;
	--hs-theme-background-dark: #040b10;
	--hs-theme-background-dark-ink: #ffffff;
	--hs-theme-radius-small: 0.3rem;
	--hs-theme-radius-medium: 0.5rem;
	--hs-theme-radius-large: 0.7rem;
	--hs-theme-supertitle-family: Syne, sans-serif;
	--hs-theme-supertitle-size: clamp(1.625rem, 8vw, 2.25rem);
	--hs-theme-supertitle-weight: 900;
	--hs-theme-supertitle-line-height: 1.5;
	--hs-theme-title-family: Syne, sans-serif;
	--hs-theme-title-size: clamp(1.5rem, 8vw, 1.875rem);
	--hs-theme-title-weight: 700;
	--hs-theme-title-line-height: 1.5;
	--hs-theme-subtitle-family: Syne, sans-serif;
	--hs-theme-subtitle-size: clamp(1.1875rem, 6vw, 1.5625rem);
	--hs-theme-subtitle-weight: 700;
	--hs-theme-subtitle-line-height: 1.5;
	--hs-theme-body-family: DM Sans, sans-serif;
	--hs-theme-body-size: clamp(0.875rem, 4vw, 1rem);
	--hs-theme-body-weight: 400;
	--hs-theme-body-line-height: 1.5;
	--hs-theme-mono-family: IBM Plex Mono, monospace;
	--hs-theme-mono-size: clamp(0.875rem, 4vw, 1rem);
	--hs-theme-mono-weight: 400;
	--hs-theme-mono-line-height: 1.5;
	--hs-theme-small-family: DM Sans, sans-serif;
	--hs-theme-small-size: clamp(0.625rem, 2vw, 0.75rem);
	--hs-theme-small-weight: 200;
	--hs-theme-small-line-height: 1.5;
	--hs-theme-primary-alpha-200: rgba(255, 255, 255, 0.08);
	--hs-theme-primary-alpha-300: rgba(241, 241, 241, 0.12);
	--hs-theme-primary-alpha-400: rgba(215, 215, 215, 0.2);
	--hs-theme-primary-alpha-600: rgba(196, 196, 196, 0.33);
	--hs-theme-accent-alpha-200: rgba(58, 65, 88, 0.08);
	--hs-theme-accent-alpha-300: rgba(34, 43, 61, 0.12);
	--hs-theme-accent-alpha-400: rgba(17, 24, 39, 0.2);
	--hs-theme-accent-alpha-600: rgba(4, 11, 16, 0.33);
	--hs-theme-surface-alpha-200: rgba(255, 255, 255, 0.08);
	--hs-theme-surface-alpha-300: rgba(241, 241, 241, 0.12);
	--hs-theme-surface-alpha-400: rgba(215, 215, 215, 0.2);
	--hs-theme-surface-alpha-600: rgba(196, 196, 196, 0.33);
	--hs-transition-time: 0.2s;
	--hs-shadow-color: rgba(0, 0, 0, 0.15);
}

.hs-button {
	min-width: var(--hs-button-min-width, 64px);
	width: var(--hs-button-width, auto);
	max-width: var(--hs-button-max-width, auto);
	height: var(--hs-button-height, -moz-max-content);
	height: var(--hs-button-height, max-content);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	overflow: visible;
	vertical-align: middle;
	box-sizing: border-box;
	cursor: pointer;
	-webkit-appearance: caret;
	transition: all var(--hs-transition-time) ease;
	background-color: var(--hs-button-fill, dp-black-400);
	color: var(--hs-button-ink, dp-black-ink);
	border-color: var(--hs-button-border, dp-black-400);
	border-width: var(--hs-button-border-width, var(--hs-theme-stroke));
	border-style: var(--hs-button-border-style, solid);
	border-radius: var(--hs-button-radius, var(--hs-theme-radius-small));
	padding: var(
		--hs-button-padding,
		var(--hs-theme-padding-sm) var(--hs-theme-padding-md)
	);
	font-family: var(--hs-button-family, var(--hs-theme-body-family));
	font-size: var(--hs-button-size, var(--hs-theme-body-size));
	font-weight: var(--hs-button-weight, 700);
	line-height: var(--hs-button-line-height, 1.5);
}
.hs-button:not(.is-disabled):not(:disabled) {
	--hs-button-fill: transparent;
	--hs-button-ink: var(--hs-theme-accent-600);
	--hs-button-border: transparent;
}
.hs-button:not(.is-disabled):not(:disabled):hover {
	--hs-button-fill: var(--hs-theme-accent-alpha-400);
	--hs-button-ink: var(--hs-theme-accent-600);
	--hs-button-border: rgba(255, 255, 255, 0);
}
.hs-button:not(.is-disabled):not(:disabled):focus {
	--hs-button-fill: var(--hs-theme-accent-alpha-400);
	--hs-button-ink: var(--hs-theme-accent-600);
	--hs-button-border: rgba(255, 255, 255, 0);
}
.hs-button:not(.is-disabled):not(:disabled):active {
	--hs-button-fill: var(--hs-theme-accent-alpha-600);
	--hs-button-ink: var(--hs-theme-accent-600);
	--hs-button-border: rgba(255, 255, 255, 0);
}
.hs-button.is-disabled,
.hs-button:disabled {
	--hs-button-fill: transparent;
	--hs-button-ink: var(--hs-theme-disabled-ink);
	--hs-button-border: transparent;
}
.hs-button:where(.is-icon-only) {
	--hs-button-min-width: auto !important;
	--hs-button-padding: 0.5rem;
	--hs-button-label-visibility: none !important;
}
.hs-button:where(.is-error):not(.is-disabled):not(:disabled) {
	--hs-button-fill: transparent;
	--hs-button-ink: var(--hs-theme-error-400);
	--hs-button-border: transparent;
}
.hs-button:where(.is-error):not(.is-disabled):not(:disabled):hover {
	--hs-button-fill: rgba(201, 32, 32, 0.2);
	--hs-button-ink: var(--hs-theme-error-400);
	--hs-button-border: rgba(255, 255, 255, 0);
}
.hs-button:where(.is-error):not(.is-disabled):not(:disabled):focus {
	--hs-button-fill: rgba(201, 32, 32, 0.2);
	--hs-button-ink: var(--hs-theme-error-400);
	--hs-button-border: rgba(255, 255, 255, 0);
}
.hs-button:where(.is-error):not(.is-disabled):not(:disabled):active {
	--hs-button-fill: rgba(201, 32, 32, 0.33);
	--hs-button-ink: var(--hs-theme-error-400);
	--hs-button-border: rgba(255, 255, 255, 0);
}
.hs-button:where(.is-error).is-disabled,
.hs-button:where(.is-error):disabled {
	--hs-button-fill: transparent;
	--hs-button-ink: var(--hs-theme-disabled-ink);
	--hs-button-border: transparent;
}
.hs-button:where(.is-outlined):not(.is-disabled):not(:disabled) {
	--hs-button-fill: transparent;
	--hs-button-ink: var(--hs-theme-accent-600);
	--hs-button-border: var(--hs-theme-accent-400);
}
.hs-button:where(.is-outlined):not(.is-disabled):not(:disabled):focus {
	--hs-button-fill: var(--hs-theme-accent-alpha-400);
	--hs-button-ink: var(--hs-theme-accent-600);
	--hs-button-border: var(--hs-theme-accent-400);
}
.hs-button:where(.is-outlined):not(.is-disabled):not(:disabled):hover {
	--hs-button-fill: var(--hs-theme-accent-200);
	--hs-button-ink: var(--hs-theme-accent-ink);
	--hs-button-border: var(--hs-theme-accent-400);
}
.hs-button:where(.is-outlined):not(.is-disabled):not(:disabled):active {
	--hs-button-fill: var(--hs-theme-accent-200);
	--hs-button-ink: var(--hs-theme-accent-ink);
	--hs-button-border: var(--hs-theme-accent-200);
}
.hs-button:where(.is-outlined).is-disabled,
.hs-button:where(.is-outlined):disabled {
	--hs-button-fill: transparent;
	--hs-button-ink: var(--hs-theme-disabled-ink);
	--hs-button-border: var(--hs-theme-disabled);
}
.hs-button:where(.is-outlined):where(.is-error):not(.is-disabled):not(:disabled) {
	--hs-button-fill: transparent;
	--hs-button-ink: var(--hs-theme-error-400);
	--hs-button-border: var(--hs-theme-error-400);
}
.hs-button:where(.is-outlined):where(.is-error):not(.is-disabled):not(:disabled):focus {
	--hs-button-fill: rgba(201, 32, 32, 0.2);
	--hs-button-ink: var(--hs-theme-error-400);
	--hs-button-border: var(--hs-theme-error-400);
}
.hs-button:where(.is-outlined):where(.is-error):not(.is-disabled):not(:disabled):hover {
	--hs-button-fill: var(--hs-theme-error-400);
	--hs-button-ink: var(--hs-theme-error-ink);
	--hs-button-border: var(--hs-theme-error-400);
}
.hs-button:where(.is-outlined):where(.is-error):not(.is-disabled):not(:disabled):active {
	--hs-button-fill: var(--hs-theme-error-200);
	--hs-button-ink: var(--hs-theme-error-ink);
	--hs-button-border: var(--hs-theme-error-200);
}
.hs-button:where(.is-outlined):where(.is-error).is-disabled,
.hs-button:where(.is-outlined):where(.is-error):disabled {
	--hs-button-fill: transparent;
	--hs-button-ink: var(--hs-theme-disabled-ink);
	--hs-button-border: var(--hs-theme-disabled);
}
.hs-button:where(.is-filled):not(.is-disabled):not(:disabled) {
	--hs-button-fill: var(--hs-theme-accent-600);
	--hs-button-ink: var(--hs-theme-accent-ink);
	--hs-button-border: var(--hs-theme-accent-400);
}
.hs-button:where(.is-filled):not(.is-disabled):not(:disabled):hover {
	--hs-button-fill: var(--hs-theme-accent-200);
	--hs-button-ink: var(--hs-theme-accent-ink);
	--hs-button-border: var(--hs-theme-accent-400);
}
.hs-button:where(.is-filled):not(.is-disabled):not(:disabled):focus {
	--hs-button-fill: var(--hs-theme-accent-400);
	--hs-button-ink: var(--hs-theme-accent-ink);
	--hs-button-border: var(--hs-theme-accent-400);
}
.hs-button:where(.is-filled):not(.is-disabled):not(:disabled):active {
	--hs-button-fill: var(--hs-theme-accent-200);
	--hs-button-ink: var(--hs-theme-accent-ink);
	--hs-button-border: var(--hs-theme-accent-200);
}
.hs-button:where(.is-filled).is-disabled,
.hs-button:where(.is-filled):disabled {
	--hs-button-fill: var(--hs-theme-disabled);
	--hs-button-ink: var(--hs-theme-disabled-ink);
	--hs-button-border: var(--hs-theme-disabled);
}
.hs-button:where(.is-filled):where(.is-error):not(.is-disabled):not(:disabled) {
	--hs-button-fill: var(--hs-theme-error-400);
	--hs-button-ink: var(--hs-theme-error-ink);
	--hs-button-border: var(--hs-theme-error-400);
}
.hs-button:where(.is-filled):where(.is-error):not(.is-disabled):not(:disabled):hover {
	--hs-button-fill: var(--hs-theme-error-400);
	--hs-button-ink: var(--hs-theme-error-ink);
	--hs-button-border: var(--hs-theme-error-400);
}
.hs-button:where(.is-filled):where(.is-error):not(.is-disabled):not(:disabled):focus {
	--hs-button-fill: var(--hs-theme-error-400);
	--hs-button-ink: var(--hs-theme-error-ink);
	--hs-button-border: var(--hs-theme-error-400);
}
.hs-button:where(.is-filled):where(.is-error):not(.is-disabled):not(:disabled):active {
	--hs-button-fill: var(--hs-theme-error-200);
	--hs-button-ink: var(--hs-theme-error-ink);
	--hs-button-border: var(--hs-theme-error-200);
}
.hs-button:where(.is-filled):where(.is-error).is-disabled,
.hs-button:where(.is-filled):where(.is-error):disabled {
	--hs-button-fill: var(--hs-theme-disabled);
	--hs-button-ink: var(--hs-theme-disabled-ink);
	--hs-button-border: var(--hs-theme-disabled);
}
.hs-button:where(.is-filled).is-raised {
	box-shadow: var(--hs-button-shadow, 0 3px 4px 1px var(--hs-shadow-color));
}
.hs-button:where(.is-filled).is-raised:hover,
.hs-button:where(.is-filled).is-raised:focus {
	box-shadow: var(--hs-button-shadow, 0 6px 10px 2px var(--hs-shadow-color));
}
.hs-button:where(.is-filled).is-raised:active {
	box-shadow: var(--hs-button-shadow, 0 10px 15px 3px var(--hs-shadow-color));
}
.hs-button.is-fullwidth {
	--hs-button-width: 100%;
	--hs-button-min-width: auto;
	--hs-button-max-width: 100%;
	display: flex;
}
.hs-button ::-moz-focus-inner {
	padding: 0;
	border-style: none;
}
.hs-button > * + * {
	margin-left: var(--hs-button-gap, 0.5rem);
}
.hs-button .hs-button__icon {
	display: var(--hs-button-icon-visibility, flex);
	align-items: center;
	color: var(--hs-button-icon-ink, inherit);
	font-size: var(--hs-button-icon-size, 1.25rem);
	/* @fallback */
	width: var(--hs-button-icon-size, 1.25rem);
	height: var(--hs-button-icon-size, 1.25rem);
}
.hs-button .hs-button__icon > * {
	color: var(--hs-button-icon-ink, inherit);
	font-size: var(--hs-button-icon-size, 1.25rem);
	/* @fallback */
	width: var(--hs-button-icon-size, 1.25rem);
	height: var(--hs-button-icon-size, 1.25rem);
}
.hs-button .hs-button__label {
	display: var(--hs-button-label-visibility, inline-block);
	padding: var(--hs-button-label-padding, 0);
	color: var(--hs-button-label-ink, inherit);
	font-family: var(--hs-button-label-family, inherit);
	font-size: var(--hs-button-label-size, inherit);
	font-weight: var(--hs-button-label-weight, inherit);
	line-height: var(--hs-button-label-line-height, inherit);
	text-align: center;
	letter-spacing: 0.02rem;
}
.hs-button-group {
	display: flex;
	flex-flow: row nowrap;
	box-sizing: border-box;
}
.hs-button-group input[type='radio'],
.hs-button-group input[type='checkbox'] {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	pointer-events: none;
}
.hs-button-group input[type='radio']:checked + .hs-button:not(:disabled),
.hs-button-group input[type='checkbox']:checked + .hs-button:not(:disabled) {
	--hs-button-fill: var(--hs-theme-accent-400);
	--hs-button-ink: var(--hs-theme-accent-ink);
	--hs-button-border: var(--hs-theme-accent-400);
}
.hs-button-group .hs-button {
	--hs-button-radius: 0;
}
.hs-button-group .hs-button:not(.is-disabled):not(:disabled) {
	--hs-button-fill: transparent;
	--hs-button-ink: var(--hs-theme-accent-400);
	--hs-button-border: var(--hs-theme-accent-400);
}
.hs-button-group .hs-button:not(.is-disabled):not(:disabled):focus {
	--hs-button-fill: var(--hs-theme-accent-alpha-400);
	--hs-button-ink: var(--hs-theme-accent-400);
	--hs-button-border: var(--hs-theme-accent-400);
}
.hs-button-group .hs-button:not(.is-disabled):not(:disabled):hover {
	--hs-button-fill: var(--hs-theme-accent-400);
	--hs-button-ink: var(--hs-theme-accent-ink);
	--hs-button-border: var(--hs-theme-accent-400);
}
.hs-button-group .hs-button:not(.is-disabled):not(:disabled):active {
	--hs-button-fill: var(--hs-theme-accent-200);
	--hs-button-ink: var(--hs-theme-accent-ink);
	--hs-button-border: var(--hs-theme-accent-200);
}
.hs-button-group .hs-button.is-disabled,
.hs-button-group .hs-button:disabled {
	--hs-button-fill: transparent;
}
.hs-button-group .hs-button:not(:nth-child(2)) {
	margin-left: var(--hs-button-group-gap, 0.5rem);
}
.hs-button-group .hs-button:nth-child(2) {
	--hs-button-radius: var(--hs-theme-radius-small) 0 0
		var(--hs-theme-radius-small);
}
.hs-button-group .hs-button:last-child {
	--hs-button-radius: 0 var(--hs-theme-radius-small)
		var(--hs-theme-radius-small) 0;
}
.hs-button-group .hs-button:where(.is-active),
.hs-button-group .hs-button:where([aria-selected='true']),
.hs-button-group .hs-button:where([hashi-selected='true']),
.hs-button-group .hs-button:where([data-selected='true']) {
	--hs-button-fill: var(--hs-theme-accent-400);
	--hs-button-ink: var(--hs-theme-accent-ink);
	--hs-button-border: var(--hs-theme-accent-400);
}
.hs-link {
	text-decoration: underline;
	background-color: var(--hs-button-fill, transparent);
	color: var(--hs-button-ink, var(--hs-theme-accent-400));
	border-color: var(--hs-button-border, transparent);
	transition: all var(--hs-transition-time) ease;
}
.hs-link:hover {
	--hs-button-fill: rgba(215, 215, 215, 0.2);
	--hs-button-ink: var(--hs-theme-accent-400);
	--hs-button-border: rgba(215, 215, 215, 0.02);
}
.hs-link:focus {
	--hs-button-fill: rgba(215, 215, 215, 0.2);
	--hs-button-ink: var(--hs-theme-accent-400);
	--hs-button-border: rgba(215, 215, 215, 0.02);
}
.hs-link:active {
	--hs-button-fill: rgba(215, 215, 215, 0.33);
	--hs-button-ink: var(--hs-theme-accent-400);
	--hs-button-border: rgba(215, 215, 215, 0.033);
}
.hs-form-field {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	position: relative;
	margin-bottom: 0.8rem;
	box-sizing: border-box;
}
.hs-form-field .hs-form-field__input {
	border-radius: var(--hs-form-field-radius, var(--hs-theme-radius-small));
	padding: var(
		--hs-form-field-padding,
		var(--hs-theme-padding-lg) var(--hs-theme-padding-xl)
	);
	border-width: var(--hs-form-field-border-width, var(--hs-theme-stroke));
	border-style: var(--hs-form-field-border-style, solid);
	font-family: var(--hs-form-field-family, var(--hs-theme-body-family));
	font-size: var(--hs-form-field-size, var(--hs-theme-body-size));
	font-weight: var(--hs-form-field-weight, 400);
	line-height: var(--hs-form-field-line-height, 1.5);
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: all var(--hs-transition-time) ease;
}
.hs-form-field .hs-form-field__input:not(:-moz-read-only) {
	background-color: var(--hs-form-field-fill, var(--hs-theme-primary-300));
	color: var(--hs-form-field-ink, var(--hs-theme-surface-ink));
	border-color: var(--hs-form-field-border, var(--hs-theme-surface-200));
}
.hs-form-field .hs-form-field__input:not(:read-only) {
	background-color: var(--hs-form-field-fill, var(--hs-theme-primary-300));
	color: var(--hs-form-field-ink, var(--hs-theme-surface-ink));
	border-color: var(--hs-form-field-border, var(--hs-theme-surface-200));
}
.hs-form-field .hs-form-field__input:not(:-moz-read-only):focus {
	--hs-form-field-border: var(--hs-theme-accent-400);
}
.hs-form-field .hs-form-field__input:not(:read-only):focus {
	--hs-form-field-border: var(--hs-theme-accent-400);
}
.hs-form-field .hs-form-field__input:-moz-read-only {
	background-color: var(--hs-form-field-fill, var(--hs-theme-disabled));
	color: var(--hs-form-field-ink, var(--hs-theme-disabled-ink));
	border-color: var(--hs-form-field-border, var(--hs-theme-disabled));
}
.hs-form-field .hs-form-field__input:read-only {
	background-color: var(--hs-form-field-fill, var(--hs-theme-disabled));
	color: var(--hs-form-field-ink, var(--hs-theme-disabled-ink));
	border-color: var(--hs-form-field-border, var(--hs-theme-disabled));
}
.hs-form-field:where(.is-required) .hs-form-field__label::after {
	content: '*';
	color: var(--hs-theme-error-400);
	margin-left: 0.25rem;
}
.hs-form-field:where(.is-raised) .hs-form-field__input:not(:-moz-read-only) {
	box-shadow: var(--hs-form-field-shadow, 0 3px 4px 1px var(--hs-shadow-color));
}
.hs-form-field:where(.is-raised) .hs-form-field__input:not(:read-only) {
	box-shadow: var(--hs-form-field-shadow, 0 3px 4px 1px var(--hs-shadow-color));
}
.hs-form-field:where(.is-error) {
	--hs-form-field-label-ink: var(--hs-theme-error-400);
	--hs-form-field-helper-ink: var(--hs-theme-error-400);
}
.hs-form-field:where(.is-error)
	.hs-form-field__input:not(:-moz-read-only):focus {
	--hs-form-field-border: var(--hs-theme-error-400);
}
.hs-form-field:where(.is-error) .hs-form-field__input:not(:read-only):focus {
	--hs-form-field-border: var(--hs-theme-error-400);
}
.hs-form-field:where(.is-error) svg {
	color: var(--hs-theme-error-400);
}
.hs-form-field .hs-form-field__label {
	color: var(--hs-form-field-label-ink, var(--hs-theme-surface-ink));
	font-weight: var(--hs-form-field-weight, 700);
	line-height: var(--hs-form-field-line-height, 1.75);
}
.hs-form-field .hs-form-field__icon {
	width: 22px;
	height: 22px;
	display: inline-flex;
	place-items: center;
	position: absolute;
	top: 55%;
	left: 0.7rem;
	transform: translateY(-52%);
}
.hs-form-field .hs-form-field__icon.is-leading {
	right: 0.7rem;
	left: auto;
}
.hs-form-field .hs-form-field__icon.is-leading + .hs-form-field__input {
	padding-right: calc(0.7rem + 30px);
}
.hs-form-field .hs-form-field__icon + .hs-form-field__input {
	-webkit-appearance: caret;
	padding-left: calc(0.7rem + 30px);
}
.hs-form-field .hs-form-field__helper {
	color: var(--hs-form-field-helper-ink, var(--hs-theme-surface-ink));
	font-family: var(--hs-form-field-family, var(--hs-theme-small-family));
	font-size: var(--hs-form-field-size, var(--hs-theme-small-size));
	font-weight: var(--hs-form-field-weight, 300);
	line-height: var(--hs-form-field-line-height, 1.75);
}
.hs-select-field {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	position: relative;
	margin-bottom: 0.9rem;
}
.hs-select-field .hs-select-field__input {
	width: 100%;
	border-radius: var(--hs-select-field-radius, var(--hs-theme-radius-small));
	padding: var(
		--hs-select-field-padding,
		var(--hs-theme-padding-lg) var(--hs-theme-padding-xl)
	);
	border-width: var(--hs-select-field-border-width, var(--hs-theme-stroke));
	border-style: var(--hs-select-field-border-style, solid);
	font-family: var(--hs-select-field-family, var(--hs-theme-body-family));
	font-size: var(--hs-select-field-size, var(--hs-theme-body-size));
	font-weight: var(--hs-select-field-weight, 400);
	line-height: var(--hs-select-field-line-height, 1.5);
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: all var(--hs-transition-time) ease;
}
.hs-select-field .hs-select-field__input:not(:disabled) {
	background-color: var(--hs-select-field-fill, var(--hs-theme-primary-300));
	color: var(--hs-select-field-ink, var(--hs-theme-surface-ink));
	border-color: var(--hs-select-field-border, var(--hs-theme-surface-200));
}
.hs-select-field .hs-select-field__input:not(:disabled):focus {
	--hs-select-field-border: var(--hs-theme-accent-400);
}
.hs-select-field .hs-select-field__input:disabled {
	background-color: var(--hs-select-field-fill, var(--hs-theme-disabled));
	color: var(--hs-select-field-ink, var(--hs-theme-disabled-ink));
	border-color: var(--hs-select-field-border, var(--hs-theme-disabled));
}
.hs-select-field:where(.is-required) .hs-select-field__label::after {
	content: '*';
	color: var(--hs-theme-error-400);
	margin-left: 0.25rem;
}
.hs-select-field:where(.is-raised) .hs-select-field__input:not(:disabled) {
	box-shadow: var(
		--hs-select-field-shadow,
		0 3px 4px 1px var(--hs-shadow-color)
	);
}
.hs-select-field:where(.is-error) {
	--hs-select-field-ink: var(--hs-theme-error-400);
	--hs-select-field-label-ink: var(--hs-theme-error-400);
	--hs-select-field-helper-ink: var(--hs-theme-error-400);
}
.hs-select-field:where(.is-error) .hs-select-field__input:not(:disabled):focus {
	--hs-select-field-border: var(--hs-theme-error-400);
}
.hs-select-field:where(.is-error) svg {
	color: var(--hs-theme-error-400);
}
.hs-select-field:where(.is-side-label) {
	flex-flow: row nowrap;
	align-items: center;
	gap: 0.5rem;
}
.hs-select-field .hs-select-field__label {
	width: -moz-max-content;
	width: max-content;
	white-space: nowrap;
	color: var(--hs-select-field-label-ink, var(--hs-theme-surface-ink));
	font-weight: var(--hs-select-field-weight, 700);
	line-height: var(--hs-select-field-line-height, 1.75);
}
.hs-select-field .hs-select-field__icon {
	width: 22px;
	height: 22px;
	display: inline-flex;
	place-items: center;
	position: absolute;
	top: 54.5%;
	left: 0.7rem;
	transform: translateY(-53%);
}
.hs-select-field .hs-select-field__icon + .hs-select-field__input {
	-webkit-appearance: caret;
	padding-left: calc(0.7rem + 30px);
}
.hs-select-field .hs-select-field__helper {
	color: var(--hs-select-field-helper-ink, var(--hs-theme-surface-ink));
	font-family: var(--hs-select-field-family, var(--hs-theme-small-family));
	font-size: var(--hs-select-field-size, var(--hs-theme-small-size));
	font-weight: var(--hs-select-field-weight, 300);
	line-height: var(--hs-select-field-line-height, 1.75);
}
.hs-tick-field {
	display: flex;
	flex-basis: 100%;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	transition: all var(--hs-transition-time) ease;
	cursor: pointer;
	background-color: var(--hs-tick-field-fill, var(--hs-theme-surface-200));
	color: var(--hs-tick-field-ink, var(--hs-theme-surface-ink));
	border-color: var(--hs-tick-field-border, var(--hs-theme-surface-200));
	border-radius: var(--hs-tick-field-radius, var(--hs-theme-radius-medium));
	padding: var(
		--hs-tick-field-padding,
		var(--hs-theme-padding-lg) var(--hs-theme-padding-xl)
	);
	gap: var(--hs-tick-field-gap, 1.5rem);
	border-width: var(--hs-tick-field-border-width, var(--hs-theme-stroke));
	border-style: var(--hs-tick-field-border-style, solid);
	--hs-tick-field-label-ink: var(--hs-theme-surface-ink);
	--hs-tick-field-label-family: var(--hs-theme-body-family);
	--hs-tick-field-label-size: var(--hs-theme-body-size);
	--hs-tick-field-label-weight: 700;
	--hs-tick-field-label-line-height: 1.5;
	--hs-tick-field-helper-ink: var(--hs-theme-surface-ink);
	font-family: var(--hs-tick-field-helper-family, var(--hs-theme-small-family));
	font-size: var(--hs-tick-field-helper-size, var(--hs-theme-small-size));
	font-weight: var(--hs-tick-field-helper-weight, 300);
	line-height: var(--hs-tick-field-helper-line-height, 1.25);
}
.hs-tick-field:hover {
	--hs-tick-field-border: var(--hs-theme-accent-400);
}
.hs-tick-field .hs-tick-field__input {
	border-color: var(--hs-tick-field-input-border, var(--hs-theme-disabled));
}
.hs-tick-field .hs-tick-field__input:checked {
	--hs-tick-field-input-border: var(--hs-theme-accent-400);
}
.hs-tick-field:where(.is-raised) {
	box-shadow: var(--hs-tick-field-shadow, 0 3px 4px 1px var(--hs-shadow-color));
}
.hs-tick-field .hs-tick-field__label {
	color: var(--hs-tick-field-label-ink, inherit);
	font-family: var(--hs-tick-field-label-family, inherit);
	font-size: var(--hs-tick-field-label-size, inherit);
	font-weight: var(--hs-tick-field-label-weight, inherit);
	line-height: var(--hs-tick-field-label-line-height, inherit);
}
.hs-tick-field .hs-tick-field__input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: inherit;
	cursor: inherit;
	border-radius: var(--hs-tick-field-input-radius, 5000px);
	border-width: var(--hs-tick-field-input-border-width, 10px);
	border-style: var(--hs-tick-field-input-border-style, solid);
}
.hs-tick-field .hs-tick-field__input[type='checkbox'] {
	--hs-tick-field-input-radius: var(--hs-theme-radius-small);
}
.hs-tick-field .hs-tick-field__helper {
	color: var(--hs-tick-field-helper-ink, inherit);
	font-family: var(--hs-tick-field-helper-family, inherit);
	font-size: var(--hs-tick-field-helper-size, inherit);
	font-weight: var(--hs-tick-field-helper-weight, inherit);
	line-height: var(--hs-tick-field-helper-line-height, inherit);
}
.hs-tick-field .hs-tick-field__sprite {
	width: clamp(24px, 5vw, 32px);
	height: clamp(24px, 5vh, 32px);
}
.hs-wallet {
	width: 100%;
	max-width: -moz-max-content;
	max-width: max-content;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	position: relative;
}
.hs-wallet .hs-button:where(.is-wallet-button) {
	--hs-button-radius: var(--hs-theme-radius-small);
	--hs-button-padding: var(--hs-theme-padding-sm) var(--hs-theme-padding-md);
	--hs-button-border-width: 1px;
	--hs-button-border-style: solid;
}
.hs-wallet
	.hs-button:where(.is-wallet-button):not(.is-disabled):not(:disabled) {
	--hs-button-fill: var(--hs-theme-primary-400);
	--hs-button-ink: var(--hs-theme-primary-ink);
	--hs-button-border: var(--hs-theme-primary-400);
}
.hs-wallet
	.hs-button:where(.is-wallet-button):not(.is-disabled):not(:disabled):hover {
	--hs-button-fill: var(--hs-theme-primary-400);
	--hs-button-ink: var(--hs-theme-primary-ink);
	--hs-button-border: var(--hs-theme-primary-400);
}
.hs-wallet
	.hs-button:where(.is-wallet-button):not(.is-disabled):not(:disabled):focus {
	--hs-button-fill: var(--hs-theme-primary-400);
	--hs-button-ink: var(--hs-theme-primary-ink);
	--hs-button-border: var(--hs-theme-primary-400);
}
.hs-wallet
	.hs-button:where(.is-wallet-button):not(.is-disabled):not(:disabled):active {
	--hs-button-fill: var(--hs-theme-primary-200);
	--hs-button-ink: var(--hs-theme-primary-ink);
	--hs-button-border: var(--hs-theme-primary-200);
}
.hs-wallet .hs-button:where(.is-wallet-button).is-disabled,
.hs-wallet .hs-button:where(.is-wallet-button):disabled {
	--hs-button-fill: var(--hs-theme-disabled);
	--hs-button-ink: var(--hs-theme-disabled-ink);
	--hs-button-border: var(--hs-theme-disabled);
}
.hs-wallet:where(:not(.is-connected)) {
	--hs-button-gap: 0 !important;
}
.hs-wallet:where(:not(.is-connected)) .hs-button__icon {
	display: none;
}
.hs-wallet:where(.is-connected) .hs-button.is-wallet-button {
	--hs-button-gap: 0.3rem;
}
.hs-wallet:where(.is-connected) .hs-button.is-wallet-button .hs-button__icon {
	background-color: #30a83d;
	border: 6px solid var(--hs-button-fill);
	border-radius: 50%;
}
.hs-wallet:where(.is-connected)
	.hs-button.is-wallet-button:hover
	+ .hs-wallet__details {
	--hs-wallet-details-opacity: 1;
}
.hs-wallet:where(.is-connected) .hs-wallet__details {
	display: block;
	position: absolute;
	bottom: calc(-90% - 0.25rem);
	z-index: 100;
	opacity: var(--hs-wallet-details-opacity, 0);
	pointer-events: none;
	text-align: center;
	white-space: nowrap;
	box-sizing: border-box;
	transition: all var(--hs-transition-time) ease-in-out;
	background-color: var(--hs-wallet-details-fill, var(--hs-theme-primary-400));
	color: var(--hs-wallet-details-ink, var(--hs-theme-primary-ink));
	border-color: var(--hs-wallet-details-border, var(--hs-theme-primary-400));
	border-radius: var(--hs-wallet-details-radius, var(--hs-theme-radius-small));
	padding: var(
		--hs-wallet-details-padding,
		var(--hs-theme-padding-sm) var(--hs-theme-padding-md)
	);
	border-width: var(--hs-wallet-details-border-width, 1px);
	border-style: var(--hs-wallet-details-border-style, solid);
	box-shadow: var(
		--hs-wallet-details-shadow,
		0 3px 4px 1px var(--hs-shadow-color)
	);
	font-family: var(--hs-wallet-details-family, var(--hs-theme-small-family));
	font-size: var(--hs-wallet-details-size, var(--hs-theme-small-size));
	font-weight: var(--hs-wallet-details-weight, var(--hs-theme-small-weight));
	line-height: var(
		--hs-wallet-details-line-height,
		var(--hs-theme-small-line-height)
	);
}
@media screen and (max-width: 639px) {
	.hs-wallet:where(.is-connected) .hs-wallet__details {
		display: none !important;
		--hs-wallet-details-opacity: 0 !important;
	}
}
.hs-wallet:where(.is-connected) .hs-wallet__details:where(.is-right) {
	right: 0;
}
.hs-wallet:where(.is-connected) .hs-wallet__details:where(.is-left) {
	left: 0;
}
.clb-tier {
	display: grid;
	justify-items: start;
	gap: 0.3rem;
}
.clb-tier .clb-tier__media {
	width: 100%;
	height: auto;
	border-radius: var(--hs-theme-radius-medium);
}
.clb-tier .clb-tier__title {
	font-family: var(--hs-theme-title-family);
	font-size: var(--hs-theme-subtitle-size);
	font-weight: 700;
	line-height: 1.25;
}
.clb-tier .clb-tier__subtitle {
	font-family: var(--hs-theme-subtitle-family);
	font-size: var(--hs-theme-body-size);
	font-weight: 400;
	line-height: 1.25;
	text-transform: uppercase;
}
.hs-button.is-filled.is-plox {
	--hs-button-fill: #d500e6;
	--hs-button-ink: #ffffff;
	--hs-button-border: #d500e6;
}
.hs-button.is-filled.is-plox:hover,
.hs-button.is-filled.is-plox:focus {
	--hs-button-fill: #d500e6;
	--hs-button-ink: #ffffff;
	--hs-button-border: #d500e6;
}
.hs-button.is-filled.is-plox:active {
	--hs-button-fill: #eb48f8;
	--hs-button-ink: #ffffff;
	--hs-button-border: #eb48f8;
}
.hs-button.is-filled.is-native-blue {
	--hs-button-fill: #5b8bf5;
	--hs-button-ink: #ffffff;
	--hs-button-border: #5b8bf5;
}
.hs-button.is-filled.is-native-blue:hover,
.hs-button.is-filled.is-native-blue:focus {
	--hs-button-fill: #6d9bff;
	--hs-button-ink: #ffffff;
	--hs-button-border: #6d9bff;
}
.hs-button.is-filled.is-native-blue:active {
	--hs-button-fill: #88aeff;
	--hs-button-ink: #ffffff;
	--hs-button-border: #88aeff;
}
.hs-button.is-fullwidth {
	--hs-button-min-width: 100%;
	--hs-button-width: 100%;
	--hs-button-max-width: 100%;
}
.hs-button.is-contained {
	--hs-button-min-width: auto;
	--hs-button-width: auto;
	--hs-button-max-width: max-content;
}
.hs-button.is-small {
	--hs-button-padding: var(--hs-theme-padding-xs) var(--hs-theme-padding-sm);
	--hs-button-size: 14px;
}
.hs-button.is-large {
	--hs-button-padding: var(--hs-theme-padding-lg) var(--hs-theme-padding-xl);
}
.hs-link.is-native-blue {
	--hs-link-ink: #5b8bf5;
}
.hs-link.is-native-blue:hover,
.hs-link.is-native-blue:focus {
	--hs-link-fill: rgba(91, 139, 245, 0.2);
	--hs-link-ink: #5b8bf5;
}
.hs-link.is-native-blue:active {
	--hs-link-fill: rgba(91, 139, 245, 0.33);
	--hs-link-ink: #5b8bf5;
}
.hs-tick-field.is-disabled {
	--hs-tick-field-fill: var(--hs-theme-disabled);
	--hs-tick-field-ink: var(--hs-theme-disabled-ink);
	--hs-tick-field-border: var(--hs-theme-disabled);
}

.i {
	height: 50px;
	width: 50px;
}
