---
layout: layouts/page.njk
section: ecosystem-addresses
devMainnet: "0x5caf454ba92e6f2c929df14667ee360ed9fd5b26"
devRopsten: ""
devRinkeby: ""
addressConfigMainnet: "0x1D415aa39D647834786EB9B5a333A50e9935b796"
addressConfigRopsten: "0xD6D07f1c048bDF2B3d5d9B6c25eD1FC5348D0A70"
addressConfigRinkeby: ""
wDevMainnet: "0xcc069f8323858537158Dc47F6c208C8174038aF9"
wDevRopsten: ""
wDevRinkeby: "0xb970C9AB82C9b5110d734bA413AA3527ddd9eB6F"
arbDevMainnet: "0x91F5dC90979b058eBA3be6B7B7e523df7e84e137"
arbDevRinkeby: "0x53a8fc7d1663807eac3daafa81b5b3c81f028479"
---

<div class="w-full overflow-x-scroll">
	<table>
		<thead>
			<tr>
				<th></th>
				<th>Mainnet</th>
				<th>Ropsten</th>
				<th>Rinkeby</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>DEV ERC20</td>
				<td>{{devMainnet}}</td>
				<td>{{devRopsten}}</td>
				<td>{{devRinkeby}}</td>
			</tr>
			<tr>
				<td>Address Config</td>
				<td>{{addressConfigMainnet}}</td>
				<td>{{addressConfigRopsten}}</td>
				<td>{{addressConfigRinkeby}}</td>
			</tr>
			<tr>
				<td>Arbitrum DEV</td>
				<td>{{arbDevMainnet}}</td>
				<td></td>
				<td>{{arbDevRinkeby}}</td>
			</tr>
			<tr>
				<td>WDEV (Wrapped DEV)</td>
				<td>{{wDevMainnet}}</td>
				<td>{{wDevRopsten}}</td>
				<td>{{wDevRinkeby}}</td>
			</tr>
		</tbody>
	</table>
</div>

