<!doctype html>
<html lang="{{ locale }}">
	<html>
		<meta charset="utf-8">
		<meta http-equiv="refresh" content="0; url={{ redirect_to }}">
	  <title>{{ renderData.title or title or site.name }}</title>
	</html>
  <body>
  </body>
</html>
